<html>
    <head>
        <title>Priya's blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Priya's Blog</a></h1>
        </div>

        <div>
            <h2><a href="">My first post</a></h2>
            <p>"La vida es Bella". -Beatriz Alonso Garcia.</p>
            <p>published: 12.03.2014, 15:37</p>
        </div>

        <div>
            <h2><a href="">My second post</a></h2>
            <p>"Demasiado acostumbrada a ser ceniza. Le perdi el miedo al fuego". -Celia Abad.</p>
            <p>published: 11.06.2015, 12:14</p>
        </div>
    </body>
</html>
